/*-------------------------------------------------------------------------
 * Autor: German Mendoza
 * correo: german.mendoza.187@gmail.com
 * Fecha de publicación: 14/01/2015
 * Version: 1.0
 * Copyright: German Mendoza, en caso de distribución colocar mis referencias
 * Descripcion: Colores para la página
 *
 *   DEPENDENCIAS
 *  - bootstrap.css
 *  - colors.less
 *
 *-------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------
 * Autor: German Mendoza
 * correo: german.mendoza.187@gmail.com
 * Fecha de publicación: 02/02/2016
 * Version: 1.0
 * Copyright: German Mendoza, en caso de distribución colocar mis referencias
 * Descripcion: Funciones de crossbrowser
 *
 *-------------------------------------------------------------------------*/
* {
  font-family: 'Raleway', sans-serif;
}
.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}
.no-border {
  border-left: 0px !important;
  border-top: 0px !important;
  border-right: 0px !important;
  border-bottom: 0px !important;
}
.border-right {
  border-right: 1px solid;
  border-color: #afafaf;
}
.container-logo {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
}
.g-cnt-nav {
  background: transparent;
  border-bottom: 2px solid;
  border-color: white;
  margin-bottom: 20px;
}
.navbar-default .navbar-nav > li > a {
  color: white;
  background-color: transparent;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: white;
  background-color: transparent;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: white;
  background-color: transparent;
}
.g-menu-bar {
  margin-top: 40px;
}
.g-menu-bar li a {
  border: 1px solid;
  border-color: transparent;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 25px;
  padding-left: 25px;
}
.g-title {
  margin-top: 40px;
  color: #c9930d;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}
.g-div-center {
  margin: auto;
  width: 40px;
  border: 2px solid;
  border-color: #c9930d;
  height: 1px;
  background-color: #c9930d;
  margin-bottom: 50px;
}
.dropdown .dropdown-menu {
  top: 71px;
  box-shadow: none;
  border: 0px solid;
  left: -221px;
  width: 340px;
  height: 230px;
  background-color: rgba(255, 255, 255, 0.4) !important;
}
.dropdown .form-group {
  margin-bottom: 15px;
  margin-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
.dropdown .form-group input {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.dropdown .form-group button {
  background: #c9930d;
  color: white;
  border: 0px solid;
  padding-left: 60px;
  padding-right: 60px;
  font-size: 13px;
  font-weight: bold;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.dropdown.open a {
  background: transparent !important;
  border: 1px solid;
  border-color: #c9930d;
  color: #c9930d !important;
}
.dropdown.open .g-link-form {
  border: 0px solid;
  color: white !important;
  text-align: center;
  font-size: 13px;
  margin-left: 50px;
}
.g-navbar-global {
  margin-bottom: 0px;
  border-bottom: 0px;
  border: 0px solid;
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.g-navbar-global .navbar-brand {
  height: auto;
  padding: 0px;
}
.g-img-front img {
  float: right;
  margin-top: 100px;
  margin-bottom: 100px;
}
.g-img img {
  width: 100%;
}
.g-t {
  margin-bottom: 40px;
}
.g-t-text {
  height: 250px;
}
.g-t-text h2 {
  font-size: 23px;
}
.g-t-img {
  height: 250px;
  overflow: hidden;
}
.g-t-img img {
  width: 100%;
}
.g-white {
  padding-top: 80px;
  padding-bottom: 60px;
  background: white;
}
.g-white h1,
.g-white h2 {
  font-weight: bold;
}
.g-black {
  padding-top: 00px;
  padding-bottom: 20px;
  background: black;
  text-align: center;
}
.g-gray {
  background: #d9d9d9;
  padding-top: 40px;
  padding-bottom: 40px;
}
.g-gray h1,
.g-gray h2 {
  font-weight: bold;
}
.g-form-inline {
  margin-top: 30px;
}
.g-form-inline label {
  color: white;
  font-size: 15px;
  letter-spacing: 3px;
  margin-right: 10px;
}
.g-form-inline input {
  background: #666666;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border: 0px solid;
}
.g-form-inline button {
  margin-left: -3px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  background: #c9930d;
  color: white;
  border-color: #c9930d;
}
.g-list {
  margin-top: 30px;
}
.g-list li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px solid;
  border-color: white;
  color: white;
}
.g-list li a {
  color: white;
}
.g-list li:last-child {
  border-right: 0px solid;
}
.g-list .no-separator {
  border-right: 0px solid;
  padding-left: 5px;
  padding-right: 5px;
}
.g-footer p {
  margin-top: 50px;
  color: white;
}
.carousel-control.left {
  background-image: none;
  width: 50px;
}
.carousel-control.right {
  background-image: none;
  width: 50px;
}
.g-a-left {
  background-image: url('images/a-left.png');
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
}
.g-a-right {
  background-image: url('images/a-right.png');
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
}
.g-price .g-currency {
  font-size: 40px;
}
.g-price .g-int {
  font-size: 60px;
  font-weight: bold;
}
.g-price .g-dec {
  position: absolute;
  font-size: 27px;
  margin-top: 15px;
  font-weight: bold;
  margin-left: 15px;
}
.g-price .g-pack {
  font-size: 20px;
  margin-top: 45px;
  position: absolute;
  margin-left: 15px;
}
.g-bg-light-gray {
  background: #d9d9d9;
}
.g-light-gray span {
  color: #6e6e6e;
}
.g-color-white span {
  color: white;
}
.g-bg-white > span:before,
.g-bg-white > span:after {
  border-color: white !important;
}
.g-center {
  text-align: center;
}
.g-btn {
  margin-top: 35px;
}
.g-btn button {
  background: white;
  border: 2px solid;
  font-size: 13px;
  padding-left: 25px;
  padding-right: 25px;
  border-color: #c9930d;
  color: #c9930d;
  font-weight: bold;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.fancy {
  text-align: center;
  overflow: hidden;
}
.fancy > span {
  display: inline-block;
  position: relative;
}
.fancy > span:before,
.fancy > span:after {
  content: "";
  position: absolute;
  border-top: 1px solid;
  border-color: #6e6e6e;
  top: 50%;
  width: 700px;
}
.fancy > span:before {
  right: 100%;
  margin-right: 25px;
}
.fancy > span:after {
  left: 100%;
  margin-left: 25px;
}
.g-tips {
  text-align: center;
}
.g-tips img {
  margin-top: 40px;
}
.g-tips p {
  margin-top: 20px;
  font-size: 14px;
}
.g-tips span {
  font-weight: bold;
  font-size: 16px;
}
.g-card {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 300px;
}
.g-card span {
  margin-top: 10px;
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-align: right;
}
.g-card h5 {
  margin-top: 100px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.g-card p {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}
.g-card .g-div-center {
  margin: auto;
  width: 30px;
  margin-bottom: 10px;
}
.g-card-gray {
  background: #3c3c3b;
}
.g-card-gray span {
  color: white;
}
.g-card-gray h5 {
  color: white;
}
.g-card-gray p {
  color: white;
}
.g-card-gray .g-div-center {
  border-color: white;
  background: white;
}
.g-card-gray-light {
  background: #d9d9d9;
}
.g-card-gray-light span {
  color: #3c3c3b;
}
.g-card-gray-light h5 {
  color: #3c3c3b;
}
.g-card-gray-light p {
  color: #3c3c3b;
}
.g-card-gray-light .g-div-center {
  border-color: #3c3c3b;
  background: #3c3c3b;
}
.g-aph-o {
  display: inline;
  width: 50px;
  height: 50px;
  background-image: url('images/aph-o.png');
}
.g-aph-c {
  display: inline;
  width: 50px;
  height: 50px;
  background-image: url('images/aph-c.png');
}
.g-menu-login {
  background: black;
  font-size: 50px;
  color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
}
.g-menu-login .g-align-r {
  display: block;
  text-align: right;
  margin-right: 20px;
}
.g-menu-login .g-align-r:hover {
  text-decoration: none;
}
.g-menu-login a {
  color: white;
}
.g-menu-login ul li {
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  padding-bottom: 20px;
}
.g-menu-login ul li a:hover {
  text-decoration: none;
}
.g-menu-login .g-div-center {
  margin-bottom: 5px;
  background: white;
  border-color: white;
}
.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}
.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}
.close:hover {
  background: #00d9ff;
}
@media (max-width: 768px) {
  .hidden-xs {
    display: none;
  }
  .g-menu-login {
    font-size: 30px;
    overflow: auto;
  }
  .g-menu-bar {
    margin-top: 0px;
  }
  .navbar-collapse {
    width: 109%;
  }
  .navbar-brand img {
    height: 50px;
  }
  .g-img-front img {
    float: none;
    display: block;
    margin-top: 0px;
    margin-bottom: 20px;
    width: 100%;
  }
  .g-white {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .g-img-inf {
    text-align: center;
    margin-top: 20px;
  }
  .g-img-car {
    text-align: center;
  }
  .g-text-car {
    padding-left: 40px;
    padding-right: 40px;
  }
  .g-a-left {
    left: 10px;
  }
  .g-a-right {
    right: 10px;
  }
  .g-res-center {
    text-align: center;
  }
  .g-t-img {
    height: auto;
  }
  .g-t-text {
    height: auto;
    padding-top: 1px;
    padding-bottom: 20px;
  }
  .g-card {
    width: 100%;
    padding-bottom: 20px;
  }
}
